{% render 'partials/head.liquid' %}
<header class="homepage-header">
    <h1>Lessons</h1>
    <span>Listening</span>
</header>

<section class="own-playlist">
    <h2>Own playlist</h2>
    <ul>
        {% for playlist in playlists %}
        <li class="own-playlist-story">
            <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}" alt="{{ playlist.title }}" loading="lazy">
            <h3>{{ playlist.title }}</h3>
            <a href="/story/{{ playlist.id }}"><svg class="play-button" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0874 7.06141C10.7817 6.52417 10.7817 5.47595 10.0874 4.93871C7.98914 3.31514 5.6461 2.03543 3.14602 1.14749L2.68929 0.985277C1.8155 0.674939 0.892544 1.26613 0.774251 2.16812C0.443739 4.68826 0.443739 7.31186 0.774251 9.83201C0.892543 10.734 1.8155 11.3252 2.68929 11.0148L3.14602 10.8526C5.6461 9.96469 7.98914 8.68498 10.0874 7.06141Z" fill="white"/></svg></a>
            <p>{{ playlist.playtime }}</p>
        </li>
        {% endfor %}
        <li class="own-playlist-add">
            <span></span>
            <span></span>
            <h3>Make a playlist!</h3>
            <p>Add your favorite stories in one playlist</p>
        </li>
    </ul>
</section>

<section class="all-stories">
    <h2>All stories</h2>
    <div class="button-container-languages">
        <button><img src="/IMG/NL.png" alt="Dutch" loading="lazy">Dutch</button>
        <button><img src="/IMG/EN.png" alt="English" loading="lazy">English</button>
        <a href="/all-stories">Show all</a>
    </div>
    <ul>
    {% for story in stories %}
       <li class="story">
        <img src="https://fdnd-agency.directus.app/assets/{{ story.image }}" alt="{{ story.title }}" loading="lazy">
        <article>
            <h3>{{ story.title }}</h3>
            <p>{{ story.summary }}</p>
            <a href="/story/{{ story.id }}"><svg class="play-button" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0874 7.06141C10.7817 6.52417 10.7817 5.47595 10.0874 4.93871C7.98914 3.31514 5.6461 2.03543 3.14602 1.14749L2.68929 0.985277C1.8155 0.674939 0.892544 1.26613 0.774251 2.16812C0.443739 4.68826 0.443739 7.31186 0.774251 9.83201C0.892543 10.734 1.8155 11.3252 2.68929 11.0148L3.14602 10.8526C5.6461 9.96469 7.98914 8.68498 10.0874 7.06141Z" fill="white"/></svg></a>
            <p>{{ story.playtime }}</p>
        </article>
        <img src="/IMG/EN.png" alt="English" loading="lazy">
       </li>
    {% endfor %}
    </ul>
    <div class="button-container-next">
        <button class="pijl-button">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3357 5.10128C16.7796 5.54525 16.7796 6.26506 16.3357 6.70902L11.0764 11.9683L16.3357 17.2276C16.7796 17.6716 16.7796 18.3914 16.3357 18.8353C15.8917 19.2793 15.1719 19.2793 14.7279 18.8353L8.66476 12.7722C8.2208 12.3282 8.2208 11.6084 8.66476 11.1644L14.7279 5.10128C15.1719 4.65732 15.8917 4.65732 16.3357 5.10128Z" fill="white"/>
            </svg>
        </button>
        <p>1...12</p>
        <button class="pijl-button">
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.664761 14.8358C0.220796 14.3919 0.220796 13.6721 0.664761 13.2281L5.92405 7.9688L0.664761 2.70951C0.220796 2.26555 0.220796 1.54574 0.664761 1.10177C1.10873 0.657808 1.82853 0.657808 2.2725 1.10177L8.33566 7.16493C8.77962 7.60889 8.77962 8.3287 8.33566 8.77267L2.2725 14.8358C1.82853 15.2798 1.10872 15.2798 0.664761 14.8358Z" fill="white"/>
            </svg>
        </button>
    </div>
</section>

<section class="liked-playlist">
    <h2>Liked playlist</h2>
    {% if likes.size > 0 %}
    <ul>
        {% for liked in likes %}
        <li class="liked-playlist-story">
            <img src="https://fdnd-agency.directus.app/assets/{{ liked.playlist.image }}" alt="{{ playlist.title }}" loading="lazy">
            <h3>{{ liked.playlist.title }}</h3>
            <a><svg class="play-button" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0874 7.06141C10.7817 6.52417 10.7817 5.47595 10.0874 4.93871C7.98914 3.31514 5.6461 2.03543 3.14602 1.14749L2.68929 0.985277C1.8155 0.674939 0.892544 1.26613 0.774251 2.16812C0.443739 4.68826 0.443739 7.31186 0.774251 9.83201C0.892543 10.734 1.8155 11.3252 2.68929 11.0148L3.14602 10.8526C5.6461 9.96469 7.98914 8.68498 10.0874 7.06141Z" fill="white"/></svg></a>
            <p>{{ liked.playlist.playtime }}1 min</p>

            <form action="/{{ liked.id }}/unlike" method="DELETE" data-enhanced="unlike-{{ liked.id }}">
                <button type="submit">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="#F33232" />
                    </svg>
                    <span class="spinner" aria-hidden="true"></span>
                </button>
            </form>
        </li>
        {% endfor %}
        {% else %}
            <p>Nog geen playlists geliked.</p>
        {% endif %}
    </ul>
</section>

<section class="suggested-playlist">
    <h2>Suggested playlist</h2>
    <ul>
        {% for playlist in playlists %}
        <li class="suggested-playlist-story">
            <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}" alt="{{ playlist.title }}" loading="lazy">
            <h3>{{ playlist.title }}</h3>
            <a><svg class="play-button" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0874 7.06141C10.7817 6.52417 10.7817 5.47595 10.0874 4.93871C7.98914 3.31514 5.6461 2.03543 3.14602 1.14749L2.68929 0.985277C1.8155 0.674939 0.892544 1.26613 0.774251 2.16812C0.443739 4.68826 0.443739 7.31186 0.774251 9.83201C0.892543 10.734 1.8155 11.3252 2.68929 11.0148L3.14602 10.8526C5.6461 9.96469 7.98914 8.68498 10.0874 7.06141Z" fill="white"/></svg></a>
            <p>{{ playlist.language_id }}</p>

            <form action="/{{ playlist.id }}/like" method="POST" data-enhanced="like-{{ playlist.id }}">
                <button type="submit">
                    <svg class="icon" width="24" height="24" viewBox="-3 -5 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.65358 2.15238C8.8471 2.33832 9.1529 2.33832 9.34642 2.15238C10.1829 1.34871 11.326 0.75 12.6 0.75C15.1489 0.75 17.25 2.64769 17.25 5.0298C17.25 6.72608 16.4577 8.18092 15.348 9.42804C14.2397 10.6736 12.7972 11.7316 11.4588 12.6376L9.14014 14.207C9.0555 14.2643 8.9445 14.2643 8.85986 14.207L6.54125 12.6376C5.20278 11.7316 3.76035 10.6736 2.65201 9.42804C1.54225 8.18092 0.75 6.72608 0.75 5.0298C0.75 2.64769 2.85106 0.75 5.4 0.75C6.67403 0.75 7.81714 1.34871 8.65358 2.15238Z" stroke="#C4C4C4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="spinner" aria-hidden="true"></span>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</section>

<script>

if ('fetch' in window && 'DOMParser' in window) {
  document.addEventListener('submit', async function (event) {
    const form = event.target;

    // hier pak ik het enhanced formulier 
    if (!form.hasAttribute('data-enhanced')) return;

    event.preventDefault(); // Voorkom standaard gedrag

    // class toevoegen .loading
    form.classList.add('loading');

    // formData object maken
    const formData = new FormData(form);

    // voor knopwaarde een submitter toevoegen als beschikbaar
    if (event.submitter && event.submitter.name) {
      formData.append(event.submitter.name, event.submitter.value);
    }

    // formulier vesturen via de fetch
    const response = await fetch(form.action, {
      method: form.method,
      body: new URLSearchParams(formData),
    });

    // response als text verwerken
    const responseText = await response.text();

    // als DOM parsen
    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseText, 'text/html');

    // het nieuwe formulier met dezelfde data-enhanced zoeken
    const newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]');

    // loading class weer weghalen
    form.classList.remove('loading');

    if (newState) {
      // wanneer het een like-actie is vervang ik de SVG
      if (form.action.includes("/like")) {
        const heartIcon = newState.querySelector('.icon');
        if (heartIcon) {
          heartIcon.outerHTML = `
            <svg class="heart-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="#F33232" />
            </svg>
          `;
        }
      }

      // oude form met nieuwe html vervangen
      form.outerHTML = newState.outerHTML;
    }

    //workshop clientside scripting UX 
    if (document.startViewTransition) {
        document.startViewTransition(function() {
            form.outerHTML = newState.outerHTML
        })
    } else {
        form.outerHTML = newState.outerHTML
    }
  });
}
</script>

{% render 'partials/footer.liquid' %}
